NODE_ENV=development

BETTER_AUTH_SECRET=U5nFKvvDQUzcYdqZ4GQC8YTKZxqBSrHK
BETTER_AUTH_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3002

# Cloudflare API token (Need CF_API_KEY from https://dash.cloudflare.com/profile/api-tokens)
CLOUDFLARE_API_TOKEN=xxx

# Google SSO
GOOGLE_CLIENT_ID=xxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-xxx